<div class = "body">
  <div class = "navbar">
    <div class = "navbar-container">
      <%= image_tag "CosplayCorner.svg", alt: "CosplayCorner", width: 200 %>
      <div class = "navlink-holder">
      <a href="" class ="navlink">Home</a>
      <a href="" class = "navlink">My Costumes</a>
      <a href=""class = "navlink">My Bookings</a>
      </div>
    </div>
  </div>
  <div class ="banner">
      <H1>Turn heads, crack up crowds</H1>
  </div>
  <div class = "container">
    <div class="grid-container">
      <% @costumes.each do |costume| %>
          <div class= "card">
            <img src="https://www.miliashop.com/img/co/781.jpg" alt="background" style="widght:100">
            <h4><%= costume.title %></h4>
            <p><%= costume.description %></p>
          </div>
      <% end %>
    </div>
  </div>
</div>
