<div class="p-3 bg-light text-dark mt-4">
  <p class="text-center">Cosplay Corner</p>
  <div class="d-flex justify-content-center">
    <%= link_to faq_path, class: "text-dark mx-3" do %>
      <i class="fa-regular fa-circle-question"></i>
    <% end %>
    <%= link_to contact_path, class: "text-dark mx-3" do %>
      <i class="fa-solid fa-envelope"></i>
    <% end %>
  </div>
</div>
