<div class="navbar">
  <div class="navbar-container">
    <%= image_tag "CosplayCorner.svg", alt: "CosplayCorner", width: 200, class: "logo" %>
    <div class="navlink-holder">
      <%= link_to "Home", costumes_path, class: "nav-link" %>
      <%= link_to "My Costumes", mycostumes_costumes_path, class: "nav-link" %>
      <%= link_to "My Bookings", "", class: "nav-link" %>
    </div>
  </div>
</div>
