<div class="mt-auto p-3 bg-light text-dark">
  <div class="d-flex justify-content-center">
    <a href="https://www.linkedin.com/in/brunacaricio/" class="text-dark mx-3" target="_blank">
      <i class="fa-brands fa-linkedin fs-3"></i>
    </a>
    <a href="https://github.com/brunacaricio" class="text-dark mx-3" target="_blank">
      <i class="fa-brands fa-github fs-3"></i>
    </a>
  </div>
</div>
