<div class="container" style="margin-bottom: 130px">
  <h3 class="mt-3">Feel free to contact us 💖</h3>
  <div class="col-md-6 mt-3">
    <h5><b>Email</b></h5>
    <p>support@cosplaycorner.com</p>
    <h5><b>Phone</b></h5>
    <p>(123) 456-7890</p>
  </div>

  <div class="col-md-6">
    <h5><b>Frequently Asked Questions</b></h5>
    <p>Check out our <%= link_to 'FAQ page', faq_path %> for quick answers to common questions.</p>
  </div>
</div>
