<div class="container">
  <h3 class="mt-3">Frequently Asked Questions</h6>

  <div class="faq-item">
    <h6 class="question">Q: Are these your costumes?</h6>
    <p>A: Nope! We’re just the matchmakers. Our amazing users have the costumes, and they’re eager to share!</p>
  </div>

  <div class="faq-item">
    <h6 class="question">Q: What if I accidentally spill coffee on a costume?</h6>
    <p>A: Uh-oh! Don’t worry, we’ve seen worse. Just let the lender know and try to wash it out with tears of regret.</p>
  </div>

  <div class="faq-item">
    <h6 class="question">Q: Can I wear a costume to a wedding? Asking for a friend.</h6>
    <p>A: You do you! Just make sure to RSVP as you and not your alter ego. We’ve seen some confused brides before.</p>
  </div>

  <div class="faq-item">
    <h6 class="question">Q: Do the costumes come with snacks?</h6>
    <p>A: Sorry, no snacks included! You’ll have to smuggle your own candy bars, or settle for cosmic superhero power instead.</p>
  </div>

  <div class="faq-item">
    <h6 class="question">Q: Can I join this costume party? I’m 4,337 miles away.</h6>
    <p>A: Sure, but only if you teleport. We recommend a superhero costume for that, not a regular one. Good luck!</p>
  </div>

  <div class="faq-item">
    <h6 class="question">Q: How do I get a refund for the costume that made my cat mad?</h6>
    <p>A: Just send the costume back in the condition you got it, including any new claw marks. We’ll handle the rest.</p>
  </div>

  <div class="faq-item">
    <h6 class="question">Q: I want to be a superhero. Which costume has the most powers?</h6>
    <p>A: Good question! They all have the same power level: awesome. Choose wisely, and be ready to save the day!</p>
  </div>

  <div class="faq-item">
    <h6 class="question">Q: Can I keep the costume if I love it too much to give it back?</h6>
    <p>A: Aw, we understand! But you gotta share. Renting is caring, after all.</p>
  </div>

  <div class="faq-item">
    <h6 class="question">Q: What if I accidentally summon an ancient curse with the costume?</h6>
    <p>A: If that happens, please call your local Ghostbusters. Don’t worry, you won’t be charged extra for the curse!</p>
  </div>


  <div class="faq-item">
    <h6 class="question">Q: Can I rent a costume for my pet llama? His name is Carl.</h6>
    <p>A: Sure thing, Carl deserves to party too! Just make sure the costume fits his fabulousness.</p>
  </div>

</div>
