.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  background-color: lightgray;
  margin: 0;
  background-image: image-url('party.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.custom-banner {
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 300px;
}

.search {
  margin-top: 5rem;
  opacity: 0.9;
}

.datepicker-container {
  flex-grow: 1;
  margin: 0 1rem;
  width: 100%;
}

// @media (max-width: 767.98px) {
//   .datepicker-container {
//     margin: 0 ;
//   }
