
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 300px;
  background-color: white;
}

.card-image {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-top: 10px;
  height: 280px;
}

.card img {
  width: 100%;
  height: 100%;
}

.card-info {
  width: 100%;
  text-align: left;
  flex: 1;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2px 16px;
}



.card-title a {
  text-decoration: none;
  color: black;
  font-weight: bold; /* To apply the bold style here */
}

.card-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-details p {
  // padding-left: 95px;
  margin: 0;
}



.card-photo {
  object-fit: cover;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-user-avatar {
  display: flex;
  justify-content: space-between;
  align-items:center
}

.card-user-avatar h6 {
  margin: 0;
}


.card-user-avatar img {
  border-radius: 50%;
  // margin-right: 5px; // Space between the image and the name
  width: 35px;
  height: 35px;
  // margin-bottom: 4px;
}
