// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

 // font
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');



body {
  background-color: rgb(255, 255, 255);
  font-family: $body-font;
  align-items: center;
}


.grid-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px 12px;
  grid-template-areas:
  ". . . ."
  ". . . ."
  ". . . .";
}

.show-container {
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: start;
  height: 100%;
  padding-top: 50px;
  gap: 20px;
  margin-bottom: 200px;
  margin-top: 80px;
}

.show-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: start;
  margin-right: 50px;
  margin-left: 15px;
  max-width: 750px;

}

.show-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.show-card-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 235px;
}

.show-card-user-avatar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.show-card-info {
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  min-height: 444px;
}

.Show-card-text {
  gap: 10px;
}
